@page
@model Gorgan_Sorana_Proiect.Pages.Parfumuri.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Parfum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Parfum.Denumire" class="control-label"></label>
                <input asp-for="Parfum.Denumire" class="form-control" />
                <span asp-validation-for="Parfum.Denumire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parfum.Descriere" class="control-label"></label>
                <input asp-for="Parfum.Descriere" class="form-control" />
                <span asp-validation-for="Parfum.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parfum.Pret" class="control-label"></label>
                <input asp-for="Parfum.Pret" class="form-control" />
                <span asp-validation-for="Parfum.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parfum.DataAparitie" class="control-label"></label>
                <input asp-for="Parfum.DataAparitie" class="form-control" />
                <span asp-validation-for="Parfum.DataAparitie" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parfum.BrandID" class="control-label">Nume Brand</label>
                <select asp-for="Parfum.BrandID" class="form-control" asp-items="ViewBag.BrandID">
                </select>
                <span asp-validation-for="Parfum.BrandID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parfum.GenID" class="control-label">Nume Gen</label>
                <select asp-for="Parfum.GenID" class="form-control" asp-items="ViewBag.GenID">
                </select>
                <span asp-validation-for="Parfum.GenID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AtributAromaDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedArome"
                                               value="@cat.AromaID"
                                               @(Html.Raw(cat.Atribut ? "checked=\"checked\"" : "")) />
                                        @cat.AromaID @: @cat.Nume
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
